@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/* rehype-pretty-code css */
pre {
  overflow-x: auto;
  padding: 1rem 0;
}

pre [data-line] {
  padding: 0 1rem;
}

code[data-theme*=' '],
code[data-theme*=' '] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {
  code[data-theme*=' '],
  code[data-theme*=' '] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

@layer base {
  body {
    @apply font-pretendard tracking-tight bg-netural-black;
  }
}

@layer components {
  h1,
  h2,
  h3,
  h4,
  strong {
    @apply text-warm-gray;
  }

  p,
  ul,
  ol,
  li {
    @apply text-cool-gray;
  }

  .prose {
    h1,
    h2,
    h3,
    h4 {
      @apply pt-4;
    }

    h1,
    h2,
    h3,
    h4,
    strong {
      @apply text-warm-gray;
    }

    p,
    ul,
    ol,
    li {
      @apply text-cool-gray;
    }

    hr {
      @apply border-warm-gray;
    }

    p {
      @apply my-4;
    }

    strong {
      @apply font-semibold;
    }

    a {
      @apply text-[#f3aa51] underline-offset-4 decoration-2;
    }

    a strong {
      @apply hover:text-[#f3aa51];
    }

    ul,
    ol,
    li {
      ::marker {
        @apply text-warm-gray;
      }
    }

    code {
      @apply rounded bg-cool-gray px-2 py-1 mx-[2px] text-cool-gray-reverse before:hidden after:hidden text-sm font-pretendard;
    }

    blockquote {
      @apply border-warm-gray py-1;

      p {
        @apply my-0 text-warm-gray before:hidden after:hidden;
      }
    }
  }
}
